body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #191919;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

main {
    text-align: center;

    width: 915px;
    height: 945px;
    border-radius: 12px;
}

header {
    height: 430px;
    background-color: #111b26;
    display: flex;
    flex-direction: column;
    align-items: center;

}


span {
    color: #657d91;
    font-weight: 300;
}

article {
    width: 100%;
    height: 200px;
    background-color: #657d91;
}

.unlocking-div  {
    width: 600px;
    height: 50px;
 background: #1F2A35;
background: linear-gradient(0deg, rgba(31, 42, 53, 1) 24%, rgba(42, 57, 75, 1) 100%);
    display: none;
    align-items: center;

    color: #9bc9f0;
}
.unlocking-div h2 {
    font-weight: 300;
    margin: 0 0 0 4px;
}
.unlocking-div img {
    font-weight: 300;
    margin: 0 0 0 10px;
}

#key-el {
    color: #cfa129;
    font-size: 14px;
}

#items-el {
    color: #95acd4;
    position: fixed;
    top: 540px;
}

#roll-btn {
    width: 200px;
    height: 40px;
    background: #487000;
    background: linear-gradient(0deg, rgba(72, 112, 0, 1) 0%, rgba(87, 140, 12, 1) 82%);
    border: 2px solid black;
    color: #ffffff;
}

#roll-btn:hover {
    background: #6F9035;
    background: linear-gradient(0deg, rgba(111, 144, 53, 1) 0%, rgba(116, 164, 60, 1) 71%);
    border: 2px solid #7c8867
}

#roll-btn:focus {
    background: #487000;
    background: linear-gradient(0deg, rgba(72, 112, 0, 1) 0%, rgba(87, 140, 12, 1) 82%);
    border: 2px solid black;
    color: #000;
}

footer {
    width: 100%;
    height: 515px;
    background-color: #243139;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 131px;
    height: 135px;
    background: #3553F7;
    background: linear-gradient(90deg, rgba(53, 83, 247, 1) 24%, rgba(43, 59, 128, 1) 100%);
    margin: 0 0px 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.item:nth-of-type(n+7) {
    background: #7831FC;
    background: linear-gradient(90deg, rgba(120, 49, 252, 1) 24%, rgba(71, 44, 122, 1) 100%);
}

.item:nth-of-type(n+11) {
    background: #D117E8;
    background: linear-gradient(90deg, rgba(209, 23, 232, 1) 24%, rgba(106, 33, 113, 1) 100%);
}

.item:nth-of-type(n+14) {
    background: #ED3138;
    background: linear-gradient(90deg, rgba(237, 49, 56, 1) 24%, rgba(115, 43, 45, 1) 100%);

}

.item:nth-of-type(n+16) {
    background: #E3B400;
    background: linear-gradient(90deg, rgba(227, 180, 0, 1) 24%, rgba(111, 92, 0, 1) 100%);

}

.showcase {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    background: #B4B8BB;
    background: linear-gradient(0deg, rgba(180, 184, 187, 1) 0%, rgba(82, 80, 81, 1) 82%);
}

.item h3,
.item p {
    margin: 0 0 0 5px;
    text-shadow: 1px 1px 2px black;
}

.item h3 {
    font-weight: 500;
    font-size: 14px;
}

.item p {
    color: #FFFFFF;
    font-size: 12px;
}



#ignorethisdivpls {
    width: 285px;

}